*{
  box-sizing: border-box;
}

body{
  font-family: 'Dosis', sans-serif;
  background-color: var(--light);
}

:root {
  --primary: #750D37;
  --secondary: #B3DEC1;
  --tertiary: #DBF9F0;
  --light: #F7F9F7;
  --dark: #210124;
}

.background-primary{
  background-color: var(--primary);
}

.background-secondary{
  background-color: var(--secondary);
}

.background-tertiary{
  background-color: var(--tertiary);
}

.background-light{
  background-color: var(--light);
}

.background-dark{
  background-color: var(--dark);
}

.color-primary{
  color: var(--primary);
}

.color-secondary{
  color: var(--secondary);
}

.color-tertiary{
  color: var(--tertiary);
}

.color-light{
  color: var(--light);
}

.color-dark{
  color: var(--dark);
}

/* component styling */

main{
  width: 100vh;
}

header{
  border-bottom: solid 6px var(--secondary);
}

footer{
  border-top: solid 6px var(--secondary);
}

.img-rounded{
  border-radius: 50%;
  width: 400px;
  height: auto;
  border: solid 6px var(--dark);
}

.navigation-active{
  color: var(--light);
  font-weight: bolder;
  font-size:large;
}

.navigation-item{
  cursor: pointer;
}

.card-image{
  height: 80%;
  border: solid 6px var(--dark);
}

a{
  text-decoration: none;
  color: var(--tertiary);
}

a:hover{
  color: var(--primary);
}

.a2{
  text-decoration: none;
  color: var(--primary);
}

.a2:hover{
  color: var(--dark);
}

ul{
  list-style: none;
}

.svg-img:hover{
  color:var(--secondary)
}